div.register{
    background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/03/59/50561f4d3c5ff82.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    overflow-y: scroll;
}
div.register li{
   color : #000;
}
div.form_wrapper{
    position: relative;
    margin: 180px auto;
}
div.register_form{
    width: 50%;
    padding: 20px 60px;
    background-color : rgba(0,0,0,0.5);
}
div.register_form h1{
    color: #fff;
    font-size: 40px;
}
div.register_form input{
    background-color: transparent;
    color: #fff;
}
div.register_form button{
    background-color: rgba(25,184,223, 0.9);
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    width : 80%;
    border-radius: 0;
}
.asterik{
    color:red;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    div.register_form{
        width: 100%;
        padding: 20px;
        background-color : rgba(0,0,0,0.5);
        margin : 0 auto;
    }
    div.register_form h1{
        color: #fff;
        font-size: 36px;
    }
    div.register_form button{
        background-color: #337ab7;
        color: #fff;
        font-size: 18px;
        width : 60%;
    }
}