.detail-header {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    margin: 0 auto;
    top:0;
    height:120px;
    z-index: 3;
}
.image-bg-row{
    background-image: url("http://designingmedia.com/muse/RealEstate/images/banner_bg1.jpg");
    background-position: center center;
    width:100%;
    margin: 0 auto;
    height: 300px;
    position : relative;
}
ul.breadcrumb{
    padding: 0;
    z-index : 2;
    color : #ffffff;
    position : absolute;
    margin : -50px 100px;
    background-color: transparent;
}
ul.breadcrumb li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
ul.breadcrumb li a.active{
    color : #ED6F1A;
}
ul.breadcrumb a.active:hover {
    color: rgba(25,184,223,0.9);
}

.detail-container-fluid{
    position: relative;
    width: 100%;
    padding: 5% 2%;
    margin: 0 auto;
    color: #616156;
    background-color: #f1f1e6;
}
.detail-wrapper{
    width: 95%;
    margin: 0 auto;
}
.detail-wrapper h1{
    font-weight: 900;
    margin-bottom: 30px;
}

.image-row {
    width : 60%;
    float : left;
    margin-left: 0;
}

.image-row img{
    height: 500px;
    width : 100%;
    margin-bottom: 25px;
}
.detail-text-row{
    position: relative;
    width: 39%;
    margin-left: 61%;
    height: 500px;
    padding: 0 10px 10px 5px;
    /*background-color: #f5f5f5;*/
}

ul.text-detail{
    padding: 5px 0;
}

ul.text-detail li span{
    padding: 0 5px;
    color: #ED6F1A;
}

ul.text-detail li{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 0 10px 0 0;
    margin: 5px 0;
}

hr{
    border-bottom: 1px solid #c7bfbf;
}

.heading{
    font-weight: bold;
    color : rgba(0,0,0,0.7);
}
.detail-text-well h4{
    font-weight: 400;
    line-height: 2em;
}

/*comment*/
.comment-well{
    margin : 30px 0;
    box-shadow: 5px 7px #e3e3d8;
    background-color: white;
    width: 60%;
}

.comment-well p>a{
    font-size: 20px;
    color: #ED6F1A;
}
.comment-well p>a:hover{
    color: rgba(25,184,223,0.9);
}
.heading-row {
    width: 60%;
    text-align: left;
    margin: 10px 0;
    color : #ED6F1A;
}

.thumbnail {
    padding:2px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

/*addComment*/
.form-container{
    width: 60%;
}
.form-container h1{
    font-weight: 400;
}

.form-container .form-horizontal .form-group{
    margin: 10px 0;
}
.form-container textarea{
    border-radius: 0;
    background-color: #f4f5f2;
    border : 1px solid #94948d;
}
.form-container .btn-default {
    line-height: 1.5em;
    width: 30%;
    font-size: 24px;
    border-radius: 0;
    background-color: #ED6F1A;
    color: white;
    border: 1px solid #DDD;
}
.detail-container-fluid .feedBack-success{
    position : fixed;
    z-index : 100;
    top : 120px;
    left : 35%;
    font-size: 16px;
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        padding: 0;
        border : 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        padding: 0;
        border : 0;
    }
}

@media only screen and (max-width: 767px) {


}
