#header{
    height : 100vh;
    position : relative;
    background-image : url("http://designingmedia.com/muse/RealEstate/images/banner_bg1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition:background 2s ease-out;
    -moz-transition:background 2s ease-in-out;
    -o-transition:background 2s ease-in-out;
    -ms-transition:background 2s ease-in-out;
    transition:background 2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header-row{
    background-color:transparent!important;
    position:absolute;
    right:95px;
    color:white;
    top:310px;
}

.header-row p:nth-child(1){
    font-size:400%;
    font-family:Arial Black;
    font-weight:900;
    line-height:1;
}

.header-row p:nth-child(2){
    font-family: Arial;
    font-size:200%;
    font-weight:400;
}

.header-button{
    background-color:#ED6F1A;
    width: 350px;
    font-size: 120%;
    font-family: Book Antiqua;
    line-height: 2;
    border : 0;
    border-radius: 0;
}


/*ApartmentList starts here*/