#header{
    height : 100vh;
    position : relative;
    background-image : url("http://designingmedia.com/muse/RealEstate/images/banner_bg1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition:background 2s ease-out;
    -moz-transition:background 2s ease-in-out;
    -o-transition:background 2s ease-in-out;
    -ms-transition:background 2s ease-in-out;
    transition:background 2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header-row{
    background-color:transparent!important;
    position:fixed;
    right:95px;
    color:white;
    top:310px;
}

.header-row p:nth-child(1){
    font-size:400%;
    font-family:Arial Black;
    font-weight:900;
    line-height:1;
}

.header-row p:nth-child(2){
    font-family: Arial;
    font-size:200%;
    font-weight:400;
}

.header-button{
    background-color:#ED6F1A;
    width: 350px;
    font-size: 120%;
    font-family: Book Antiqua;
    line-height: 2;
    border : 0;
    border-radius: 0;
}

/*Categories Starts here */
.categories-list{
    background-color: #f1f1e6;
    position: relative;
    padding: 70px;
    z-index: 2;
    width : 100%;
}
.categories-list-row{
    position: relative;
    padding: 10px 10px 0 10px;
    width: 100%;
    border: 0;
    margin: 0 auto;
}
.categories-list-row .col-sm-5{
    margin: 10px 0 -30px 10px;
    height: auto;
}
.category-name{
    position: relative;
    height : 250px;
    width : 250px;
    border: 25px solid rgba(25,184,223,0.9);
    padding: 15px 0px 10px 10px;
    margin-left: 20px;
}
.col-sm-5 h1 {
    position: absolute;
    height: 60px;
    top: 55px;
    left : 50px;
    background-color: #f1f1e6;
    z-index: 2;
    font-size: 48px;
    font-weight: 900;
}
.categories-text-row{
    margin : 0 auto;
    height: auto;

}
.type-categories{
    margin :10px 15px 30px -20px;
}
.type-categories p , .col-sm-6 p{
    padding-top: 20px;
    font-size: 20px;
    margin: 0 auto;
}

.img-wrap{
    display: inline-block;
    float: left;
    margin:10px;
}

.search-input-row{
    margin-top: 70px;
    background-color:#f1f1e6 ;
    padding : 10px;
    width: 100%;
    border: 0;
}
/*div.search-input-row .form-horizontal , div.search-input-row .form-group{*/
    /*margin : 0px  !important;*/
/*}*/
.search-form{
    line-height: 3;
}
.search-form label{
    font-size: 26px;
    margin-right: 20px;
    height: 100%;
    line-height: 0;
}
.search-form input{
    /*line-height: 2.5;*/
    width:60%;
    height: 60px;
    font-size: 22px;
    margin-right: 10px;
}
.glyphicon-search{
    margin-right: 15px;
}
.search-button{
    display: inline-block;
    background-color:rgba(25,184,223,0.9);
    color: #fff;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    border : 0;
    border-radius: 0;
}

/*ApartmentList starts here*/
.apartment_list_popular{
    background-image: url("http://designingmedia.com/muse/RealEstate/images/sales_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin : 0 auto;
    padding: 20px 0 50px 0;
    z-index: 2;
    position :relative;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-family: Arial Black;
}
.apartment_block{
    width : 94%;
    color: #151414;
    margin-right: 3%;
    margin-left: 3%;
}

.apartment_block_each{
    width : 100%;
    background-color: #fff;
    height: 250px;
}

.col-sm-3{
    background-color: transparent;
    width: 25%;
    margin: 0;
    margin-bottom: 20px;
}

.apartment_image{
    width : 100%;
    height : inherit;
}
.price-show{
    position: relative;
    z-index: 4;
    top : -33px;
    width:100px;
}
.price-show p{
    font-family: Arial;
    font-size: 20px;
    position: absolute;
    top:2px;
    left:20px;
    color : #fff;
}
.apartment_detail{
    text-align: left;
    position: relative;
    margin : 0 auto;
    padding: 10px 20px 30px 20px;
    background-color: #fff;
    font-family: Arial;
}

.apartment_detail h4{
    color : #151414;
    font-size: 20px;
    font-weight: 900;
}

.apartment_detail h6{
    font-size: 18px;
    font-weight: 500;

}
.apartment_detail p{
    font-size: 16px;
    font-weight: 400;
}
.visit-button{
    border-radius: 0;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3333333;
    background-color: #fff;
    color: rgba(0,0,0,0.5);
    transition: all 0.5s linear;
}
.visit-button:hover{
    background-color:#ED6F1A;
    color:#fff;
}

/*Contact Pages Starts Here*/

.footer-row{
    margin : 0 auto;
    padding: 0;
    position : relative;
    z-index: 2;
    height : 400px;
    background-color: #fff;
}

@media only screen and (max-width: 760px) {
    .categories-list-row .col-sm-5 {
        display:none;
    }
    .categories-list-row .col-sm-6{
        width: 100%;

    }
    .header-row{
        display: none;
    }
    .categories-list{
        padding: 10px;
        margin: 0 auto;
    }
    .categories-list-row{
        position: relative;
        padding: 10px;
        width: 100%;
        border: 0;
        margin: 0 auto;
    }
    .categories-text-row{
        margin : 0 auto;
        height: auto;
        width: 100%;
    }
    .category-name {
        display: none;
    }
    .col-sm-5 h1 {
        display: none;
    }
    .type-categories{
        margin :10px auto;
    }
    .type-categories p , .col-sm-6 p{
        padding-top: 20px;
        font-size: 20px;
        margin: 0 auto;
    }

    .search-form input{
        width:90%;
        height: 50px;
        font-size: 19px;
        margin: 0 auto;
    }
    .glyphicon-search{
        margin-right: 0;
    }
    .search-button{
        display: inline-block;
        width: 60%;
        background-color:rgba(25,184,223,0.9);
        color: #fff;
        font-family: "Arial Narrow", Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        height: 50px;
        border : 0;
        padding-top: 10px;
        border-radius: 0;
        margin: 0 auto;
    }
}

/*@media only screen and  (min-width : 600px) {*/
    /*.categories-list-row .col-sm-5 {*/
        /*display: none;*/
    /*}*/
    /*.categories-list-row .col-sm-6{*/
        /*width: 100%;*/

    /*}*/
/*}*/

@media only screen and (min-width : 992px) {
    .categories-list-row .col-sm-5 {
        display: block;
    }
    .categories-list-row .col-sm-6{
        width: 50%;
    }

}

@media only screen and (min-width : 1264px) {
    .categories-list-row .col-sm-5 {
        display: block;
    }
    .categories-list-row .col-sm-6{
        width: 50%;

    }
}